body {
  background-color: #eeeeee;
}
.title {
  text-align: center;
  padding-top: 65px;
  font-size: 40px;
}
.title > span {
  color: rgb(217, 117, 50);
}
.description {
  padding: 60px 180px;
  font-size: 25px;
}
.brand {
  color: rgb(217, 117, 50) !important;
  font-variant: small-caps;
  font-weight: 600;
}
